
.bfs {
    width: auto;
    border: solid 1px
}
.max-width {
    width: 100%
}
.width_no_care {
    width: 30%;
}
.orange-border {
    border-color: orange;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
.red {
    background-color: red;
}
.border_pretty {
    border: solid 1px; 
    border-radius: 3px
}