
.bfs {
    width: auto;
    border: solid 2px
}
.max-width {
    width: 100%
}
.width_no_care {
    width: 30%;
}
.text-center {
    text-align: center;
}
.selected-border {
    border-color: orange;
}
.visited {
    background-color: purple;
}
.path {
    background-color:rgb(57, 208, 219);
}
.other {
    background-color: green;
}
.start {
    background-color: blue;
}
.end {
    background-color: red;
}
.neutral-color {
    background-color: gray;
}
.border_pretty {
    border: solid 1px; 
    border-radius: 3px
}
@keyframes spread {
    to {
        background-color: purple;
    }
}
@keyframes path {
    to {
        background-color: rgb(57, 208, 219);
    }
}